<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>28929934819-biq5tu2u38dobp267vgjtdvc8du6q6di.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.28929934819-biq5tu2u38dobp267vgjtdvc8du6q6di</string>
	<key>API_KEY</key>
	<string>AIzaSyBxRnP1MbqHa_3LyvjuwXmQywVwk2XwGME</string>
	<key>GCM_SENDER_ID</key>
	<string>28929934819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobile.BestMovies</string>
	<key>PROJECT_ID</key>
	<string>bestmoovies-70e36</string>
	<key>STORAGE_BUCKET</key>
	<string>bestmoovies-70e36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:28929934819:ios:ae103c1aa2a3d562fc4cd6</string>
	<key>DATABASE_URL</key>
	<string>https://bestmoovies-70e36.firebaseio.com</string>
</dict>
</plist>